.mainAbout {
  min-height: 100vh;
  padding: 2rem 0;
  flex: 1;
  align-items: center;
  position:relative;
  text-align: center;
  color: white;
  display: inline-block;
}

.imgAbout {
  display: block;
  height: auto;
  width: 100%;
}

.textImgTop {
  position: absolute;
  top: 2vh;
  left: 2vh;
  color: red;
  text-transform: uppercase;
  font-size: calc(8vw - 3vmin);
  width: 2em;
}

.textImgBottom {
  position: absolute;
  bottom: 2px;
  right: 2vh;
  color: red;
  text-transform: uppercase;
  font-size: calc(8vw - 3vmin);
}

.about {
  display: flex;
  margin: auto;
  color:red;
  align-items: center;
  width: 30%;
}
