.mainAbout {
  padding: 2rem 0;
  flex: 1;
  align-items: center;
  position:relative;
  text-align: center;
  color: white;
}

.imgTypewriter {
  display: block;
  height: auto;
  width: 100%;
}

.textImgTop {
  position: absolute;
  top: 4vh;
  left: 2vh;
  color: black;
  text-transform: uppercase;
  font-size: calc(8vw - 1vmin);
  width: 2em;
}

.textImgBottom {
  position: absolute;
  top: 80%;
  right: 2vh;
  color: black;
  text-transform: uppercase;
  font-size: calc(8vw - 1vmin);
}

.textAbout {
  display: grid;
  grid-template-rows:25% 100%;
  grid-template-columns:25% 50%;
  justify-content: space-between;
  padding: 5vw;
}

.imgPortfolio {
  height: auto;
  width: 100%;
  display: block;
  margin-left: auto;
  padding-top: 10vw;
  }

.service {
  display: block;
  color: white;
  font-size: calc(8vw - 1vmin);
  padding-bottom: 2vh;
  h4 {
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    width: 80vw;
  }
}

.buttonMore {
  background-color: black;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: .9em;
  height: 10vw;
}

.showMore {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255);
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {

  .imgTypewriter {
    display: block;
    height: auto;
    width: 60%;
    max-width: 35vw;
  }

  .textImgTop {
    position: absolute;
    top: 1vh;
    left: 2vh;
    text-transform: uppercase;
    font-size: 2.3rem;
  }

  .textImgBottom {
    position: absolute;
    top: auto;
    left: auto;
    bottom: 0.5vh;
    right: 64%;
    text-transform: uppercase;
    font-size: 2.3rem;
  }

  .imgPortfolio {
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    width: 60%;
    max-width: 35vw;
  }
}


@media only screen and (min-width: 1300px) {

  .textImgTop {
    font-size: 3rem;
  }

  .textImgBottom {
    font-size: 3rem;
  }
}
