.main {
  min-height: 55vh;
}

.wheel {
  position: absolute;
}

.blobgradient {
  fill: url(#radial-gradient) rgb(255, 255, 255);
}

.text {
  display: flex;
  justify-content: center;
  position: relative;
  mix-blend-mode: difference;
  color: white;
  top: 16vh;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 2rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-transform: uppercase;
}


@media (min-width: 30em) and (orientation: landscape) {
  .main {
    min-height: 180vh;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    min-height: 110vh;
    margin-top: 10vh;
  }

  .text {
    line-height: 5.9rem;
    top: 40vh;
    font-size: 5rem;
  }

  .wheel {
    max-width: 70vw;
    max-height: auto;
    margin-left: 10%
  }
}
