.main {
  min-height: 65vh;
}

.wheel {
  top: 20vh;
  position: absolute;
}

.blobgradient {
  fill: url(#radial-gradient) rgb(255, 255, 255);
}

.text {
  display: flex;
  justify-content: center;
  position: relative;
  mix-blend-mode: difference;
  color: white;
  top: 20vh;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 7vw;
  margin-bottom: -1vh;
  text-transform: uppercase;
  font-size: 6.1vw;
}

@media only screen and (min-width: 820px) {
  .main {
    min-height: 30vh;
    margin-top: 10vh;
  }
}

@media (min-width: 30em) and (orientation: landscape) {
  .main {
    min-height: 180vh;
  }
  .wheel {
    top: 40vh;
  }
  .text {
    top: 60vh;
  }
}


@media only screen and (min-width: 821px) {
  .main {
    min-height: 80vh;
    margin-top: 10vh;
  }

  .text {
    line-height: 6rem;
    top: 25vh;
    font-size: 5vw;
    margin-bottom: -6vh;
  }

  .wheel {
    top: 25vh;
  }
}



@media only screen and (min-width: 992px) {
  .main {
    min-height: 140vh;
    margin-top: 10vh;
  }

  .text {
    line-height: 6rem;
    top: 33vh;
    font-size: 5vw;
    margin-bottom: -6vh;
  }

  .wheel {
    max-width: 70vw;
    max-height: auto;
    margin-left: 10%;
    top: 25vh;
  }
}
