.main {
  min-height: 50vh;
  display: flex;
  justify-content: center;
}

.wheel {
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  // max-width: 800vw;
}

.blobgradient {
  fill: url(#radial-gradient) rgb(255, 255, 255);
}


.text {
  display: flex;
  justify-content: center;
  position: relative;
  mix-blend-mode: difference;
  color: white;
  bottom: 34vh;
}
