.footer {
  margin-top: 5vh;
  font-size: 1.5em;
}

.myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link {
  position: relative;
  color: white;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.35s ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.commalist {
  list-style-type: none;
  padding-left: 0;
}

.commalistfirstchild {
  list-style-type: none;
  padding-left: 0;
}


@media only screen and (min-width: 992px) {

  .row {
    display: flex;
    justify-content: space-between;
  }

  .link {
    display: inline-block;
  }

  .commalist,
  .commalistfirstchild {
    padding: 0px;
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    flex-direction: row;
  }

  .commalist:last-child {
    text-align: end;
  }

  .commalist li:not(:last-child) {
    padding-right: .4em ;
    display: inline;
  }

  .commalist li::after {
    content: ", ";
  }

  .commalist li:last-child::after {
    content: "";
  }
}
