.main {
  min-height: 100vh;
  text-align: justify;
  font-size: 1rem;
  margin: auto;
  width: 97%;
  margin-top: 10vh;
  margin-bottom: 10vh;

  h3 {
    padding-top: 3vh;
  }
  a {
    text-transform: uppercase;
  }
  p {
    margin-block-start: .2em;
  }
}

.address {
  width: 8em;
}

@media only screen and (min-width: 992px) {

  .container {
   padding: 0 4rem;
  }

  .main {
    width: 80%;
    bottom: 0;
  }
}

// wenojewr
