.main {
  margin-top: 5vh;
  min-height: 100vh;
}

.char {
  display: inline-block;
  font-size: calc(2vw + 4vh + 2vmin);
  text-transform: uppercase;
}

.textUp {
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 2.5rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.section {
  height: 80vh;
}

.section p {
  margin: auto ;
  padding-top: 10vh;
  width: 97%;
  text-align: left;
  font-size: 1.5rem;
  overflow-wrap: break-word;
}


/* tablet */


@media only screen and (min-width: 600px) {
  .textUp {
    line-height: 3.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .textUp {
    line-height: 3.9rem;
  }
}

/* desktop */
@media only screen and (min-width: 992px) {

  .char {
    margin-top: 4vh;
  }

  .section {
    height: 30vh;
  }

  .textUp {
    line-height: 4.5rem;
  }

  .videoWrapper {
    height: 30vh;
    transition: height 0.5s ease-out;
  }
}

@media only screen and (min-width: 1700px) {

  .textUp {
    line-height: 5.9rem;
  }

}
