.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  font-size: 1.5em;
}

.leftSide {
  flex: 1;
}

.link {
  position: relative;
  color: white;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.35s ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.commalist {
  display: none;
}

.commalistOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  position: fixed;
  top: 4vh;
  right: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 9999;
}

.commalistOpen li {
  list-style-type: none;
  padding: .2em ;
  padding-right: 2.2em;
}

.commalistOpen a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
}

.commalistOpen.closing {
  animation: slideOutToBottom 9s ease-in forwards;
}

@keyframes slideOutToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.menu {
  cursor: pointer;
  color: white;
}

.active:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    display: block;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .leftSide a {
    color: white;
    display: inline-block;
  }

  .commalistOpen {
    animation: slideInFromBottom 0.5s ease-out forwards;
  }
}

@media only screen and (min-width: 992px) {
  .nav {
    justify-content: space-between;
    margin-top: 5vh;
    font-size: 1.6em;
  }

  .link {
    display: inline-block;
  }

  .commalist,
  .commalistOpen {
    padding: 0px;
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    flex-direction: row;
  }

  .commalist:last-child {
    text-align: end;
  }

  .commalist li:not(:last-child) {
    padding-right: .4em ;
    display: inline;
  }

  .commalist li::after {
    content: ", ";
  }

  .commalist li:last-child::after {
    content: "";
  }

  .menu {
    display: none;
  }

  .hideOnDesktop {
    display: none;
  }
}
