.nav {
  display: flex;
  justify-content: flex-end;  /* Change here */
  align-items: center;  /* Optional: To align items vertically center */
  margin-top: 2vh;
  font-size: 1.5em;
}

.link {
  display: none;
  position: relative;
  color: white;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.35s ease-in-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.commalist {
  list-style: none;
  flex-direction: column;
  padding: .1rem;
  display: none;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.commalistOpen {
  display: flex;
  flex-direction: column;
  position: fixed;    /* Make the menu fixed */
  top: 0;             /* Cover the entire viewport */
  right: 0;           /* Cover the entire viewport */
  bottom: 0;          /* Cover the entire viewport */
  left: 0;            /* Cover the entire viewport */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  background-color:red; /* Add a background color */
  color: #fff; /* Change text color */
}

.menu {
  display: block;
  cursor: pointer;
}

@media only screen and (min-width: 992px) {

  .nav {
    justify-content: space-between;
    margin-top: 5vh;
    font-size: 1.6em;
  }

  .link {
    display: inline-block;
  }

  .commalist,
  .commalistOpen {
    padding: 0px;
    display: flex;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
    flex-direction: row;
  }

  .commalist:last-child {
    text-align: end;
  }

  .commalist li:not(:last-child) {
    padding-right: .4em ;
    display: inline;
  }

  .commalist li::after {
    content: ", ";
  }

  .commalist li:last-child::after {
    content: "";
  }

  .menu {
    display: none;
  }
}
