.main {
  height: 100vh;
}

.char {
display: inline-block;
font-size: 3rem;
text-transform: uppercase;
}

.down-up-text {
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 2.5rem;
  margin-top: 2vh;
  margin-bottom: 2vh;
}


@media only screen and (min-width: 992px) {

  .char {
    font-size: 6rem;
    margin-top: 5vh;

  }

  .down-up-text {
    clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5rem;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }


}
