.split {
  font-family: sans-serif;
  text-align: center;
  background-color: #7700ff;

  position: relative;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
}
