.main {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.intro {
  height: 200vh
}

.intro video {
  height : 100%;
  width : 100%;
  object-fit: cover;
  position: fixed;
  // border: 5px solid red;
}

.section {
  height: 100vh;
  color: black;
  background-color: white;
}

// .section h1 {
//     margin: auto ;
//     text-align: center;
//     font-size: 7rem;
// }
