/* Work.module.css */
.workPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5vh;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.char {
  display: inline-block;
  text-transform: uppercase;
  overflow: visible;
}

.textUp {
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 25vh;
}

.headingContainer h1 {
  font-size: 15rem;
  width: 100%;
  margin-bottom: 12vh;
}

.headingContainer p {
  max-width: 100%; /* Begrenzt die Breite auf die des Elternelements */
}


@keyframes arrowBounce {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  20% {
    opacity: 0.5;
  }
  40% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(-5%);
  }
  80%, 100% {
    transform: translateY(0%);
    visibility: visible;

  }
}


.arrow {
  font-size: 10rem;
  display: inline-block;
  text-align: right;
  animation: arrowBounce 2s ease-in-out;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
  margin-bottom: 10vh;
}

.textSection {
  flex: 1;
}

.sticky {
  position: sticky;
  top: 0;
  font-size: 4rem;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1; /* Machen Sie das Element ursprünglich unsichtbar */
  transition: opacity 0.3s ease-in-out; /* Fügen Sie einen Übergang hinzu, um das Einblenden zu animieren */
}


.imageSection {
  /* flex: 1; */
  margin-top: 2vh;
}

.imageSection > div {
  margin-bottom: 5vh; /* Der Leerraum entspricht 5% der Höhe des Viewports */
}

.imageSection > div > Image {
  max-width: 100%;
  height: auto;
}


.projectSection,
.projectNewSection {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 100vh;
  margin-top: 10vh;
}

/* Mobile view */
@media (max-width: 600px) {
  .projectSection,
  .projectNewSection {
      flex-direction: column;
      height: auto;
  }

  .textSection, .imageSection {
      width: 100%;
  }

  .sticky {
      position: relative;
  }
}
