.work {
  display: flex;
  place-content: center;
  height: 100vh;
}

.my-text {
  display: flex;
  justify-content: space-between;
  font-size: 6rem;
  text-transform: uppercase;
  clip-path: polygon( 0 0, 100% 0, 100% 100%, 0% 100%);
  line-height: 5.9rem;
  font-kerning: none;

}

.char {
  transform: translateY(115px);
  transition-property: transform;
  transition-duration: 0.5;
  display: inline-block;
}
