.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow-y: scroll;
  margin-top: 5vh;

}

.textSection {
  width: 50%;
  position: sticky;
  top: 0;
  font-size: 2rem;
}

.imageSection {
  width: 50%;
}
